@use 'colors';
@use 'mixins';

//* NOTE: Sections
#section_about {
	padding-left: 50px !important;

	.section__mini_banner {
		background-image: url('../../img/banner4.jpg') !important;

		float: right !important;
		margin-right: 50px;
	}

	.section__description {
		left: 25px !important;
		width: calc(100% - 400px) !important;
	}
}

#section_about,
#section_welcome {
	padding: 0;

	.section__welcome_content {
		padding-left: 50px;

		h1 {
			margin-top: 70px;
		}
	}

	.section__welcome_banner {
		height: 500px;

		background-image: url('../../img/banner2.jpg');
		background-position: center;
		background-size: cover;
	}

	.section__mini_banner {
		width: 300px;
		height: 400px;

		background-image: url('../../img/banner3.jpg');
		background-position: center;
		background-size: cover;

		float: left;
	}

	.section__description {
		position: absolute;
		left: 370px;

		padding-right: 30px;

		p {
			line-height: 2;

			font-size: 16px;

			margin-bottom: 30px;
			margin-left: 25px;
		}

		.section__welcome_btn {
			background-color: colors.$blue-400;
			color: colors.$white;
			text-decoration: none;
			padding: 20px 40px;
			transition: 0.5s;
			display: block;
			width: 100px;
			text-align: center;
			border: none;
			cursor: pointer;
			margin-left: 25px;

			&:hover {
				background-color: colors.$blue-200;
			}
		}
	}

	&::after {
		@include mixins.section_after;
	}
}
